import /init.recovery.usb.rc

on init
    setprop sys.usb.configfs 1
    setprop sys.usb.ffs.aio_compat 0
    setprop sys.usb.controller musb-hdrc
    setprop vendor.usb.controller musb-hdrc

on fs
    start adbd

on post-fs
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/preloader_b
    symlink /dev/block/mmcblk0boot0 /dev/block/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/by-name/preloader_b
